body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: #DEE0D2;
}
/* Set width on the form input elements since they're 100% wide by default */

#formFilter {
    margin: 20px;
}

#tblProperties thead th {
    font-weight: bold;
    font-size: 16px;
    padding: 20px 30px;
    background-color: #EAEAE2;
}

#tblProperties td {
    padding: 20px 30px 20px 20px;
}

.property-header {
    padding: 15px 15px 5px 20px;
    background-color: #EAEAE2 !important;
}

.property-content {
    padding: 15px 0px 0px 5px;
}

.property-title {
    font-weight: bold;
    font-size: 16px;
}

.property-subtitle {
    font-size: 12px;
}

.property-detail {
    font-weight: bold;
}

.glyphicon.glyphicon-search {
    font-size: 15px;
}

.search-bar {
    background-color: #DEE0D2;
}

.logo-text {
    color: black !important;
    font-weight: bold;
}